.foote{
    padding: 20px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
font-family: "main";
color :darkcyan;
font-size: 20px;
font-weight: 400;
justify-content: space-between;
align-items: center;
margin-top: 10%;
}
.foote>span:first-of-type{
    justify-content: flex-start;
}
.foote>span{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.foote>span>a{
    text-decoration: none;
    color: darkorange;
    padding: 10px;
    display: inline-block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    font-family: "thrid";
}
.foote>span>a:hover{
color: darkcyan;}

@media screen  and(min-width:768px) and (max-width: 1200px){
    .foote{
        padding: 10px;
        width: 100%;
        display: flex;
    font-family: "main";
    color :darkcyan;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20%;
    }
    .foote>span:first-of-type{
        width: 50%;
    }
    .foote>span{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .foote>span>a{
        text-decoration: none;
        color: darkorange;
        padding: 5px;
    }
}

@media screen and (min-width:415px) and (max-width: 768px){
    .foote{
        padding: 10px;
        width: 100%;
        display: flex;
    font-family: "main";
    color :darkcyan;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20%;
    }
    .foote>span:first-of-type{
        width: 25%;
    }
    .foote>span{
        width: 75%;
        display: flex;
        justify-content: space-around;
    }
    .foote>span>a{
        text-decoration: none;
        color: darkorange;
        padding: 5px;
    }
}

@media screen and (max-width: 415px){
    .foote{
        padding: 10px 2px;
    font-size: 10px;
    font-weight: 200;    }
    .foote>span:first-of-type{
        width: 20%;
        font-size: 8px;
    }
    .foote>span{
        width: 80%;
    }
}
